{% extends 'base.html' %}
{% block content %}
<br>
<h4 id="latest_entry">Latest Entry</h4>
<br><br>
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
            <i class="material-icons opacity-10">Temp</i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Latest Temperature</p>
            <h4 class="mb-0" id="latest_bim"></h4>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
          </div>
        </div>
        <hr class="dark horizontal my-0">
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="icon icon-lg icon-shape  shadow-primary text-center border-radius-xl mt-n4 position-absolute" style="background-color: rgb(175, 135, 60);">
            <i class="material-icons opacity-10">Gas</i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Latest Gas Level</p>
            <h4 class="mb-0" id="latest_temp"></h4>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
            <i class="material-icons opacity-10">Flame</i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Latest Flame</p>
            <h4 class="mb-0" id="latest_flame"></h4>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="icon icon-lg icon-shape   shadow-dark text-center border-radius-xl mt-n4 position-absolute" style="background-color: rgb(175, 135, 60);">
            <i class="material-icons opacity-10">Lamp</i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Latest Lamp</p>
            <h4 class="mb-0" id="latest_strick"></h4>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
        </div>
      </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xl-3 col-sm-6">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
            <i class="material-icons opacity-10">Fan</i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Latest Fan</p>
            <h4 class="mb-0" id="latest_bp"></h4>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="icon icon-lg icon-shape  shadow-success text-center border-radius-xl mt-n4 position-absolute" style="background-color: rgb(175, 135, 60);">
            <i class="material-icons opacity-10">SW1</i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Latest Switch 1</p>
            <h4 class="mb-0" id="latest_switch1"></h4>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
            <i class="material-icons opacity-10">SW2</i>
          </div>
          <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">Latest Switch 2</p>
            <h4 class="mb-0" id="latest_switch2"></h4>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
        </div>
      </div>
    </div>
</div>


<div class="container mt-5">
    <h4 id="kitchen_data">Kitchen Data</h4>
    <table class="table table-bordered">
        <thead style=" background-color: rgb(223, 179, 98);">
            <tr>
                <th>DateTime</th>
                <th>Temperature</th>
                <th>Gas Level</th>
                <th>Flame</th>
                <th>Lamp</th>
                <th>Fan</th>
                <th>Switch 1</th>
                <th>Switch 2</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in kitchen_data %}
                <tr>
                    <td>{{ entry.datetime }}</td>
                    <td>{{ entry.temperature }}</td>
                    <td>{{ entry.gas_level }}</td>
                    <td>{{ entry.flame }}</td>
                    <td>{{ entry.lamp }}</td>
                    <td>{{ entry.fan }}</td>
                    <td>{{ entry.switch1 }}</td>
                    <td>{{ entry.switch2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table><br><br>
<h4 id="kitchen_chart">Kitchen Chart</h4>
<canvas id="kitchenChart" width="600" height="300"></canvas>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('kitchenChart').getContext('2d');

        var data = {
            labels: [{% for entry in kitchen_data %}'{{ entry.datetime }}',{% endfor %}],
            datasets: [
                {
                    label: 'Temperature',
                    data: [{% for entry in kitchen_data %}{{ entry.temperature }},{% endfor %}],
                    borderColor: 'rgb(37,37,39)',
                    borderWidth: 1,
                    fill: false
                },
                {
                    label: 'Gas Level',
                    data: [{% for entry in kitchen_data %}{{ entry.gas_level }},{% endfor %}],
                    borderColor: 'rgb(255, 51, 0)',
                    borderWidth: 1,
                    fill: false
                },
                {
                    label: 'Flame',
                    data: [{% for entry in kitchen_data %}{{ entry.flame }},{% endfor %}],
                    borderColor: 'rgb(153, 0, 0)',
                    borderWidth: 1,
                    fill: false
                }, // Missing comma here
                {
                    label: 'Lamp',
                    data: [{% for entry in kitchen_data %}{{ entry.lamp }},{% endfor %}],
                    borderColor: 'rgb(255, 153, 0)',
                    borderWidth: 1,
                    fill: false
                },
                {
                    label: 'Fan',
                    data: [{% for entry in kitchen_data %}{{ entry.fan }},{% endfor %}],
                    borderColor: 'rgb(51, 102, 0)',
                    borderWidth: 1,
                    fill: false
                },
                {
                    label: 'Switch 1',
                    data: [{% for entry in kitchen_data %}{{ entry.switch1 }},{% endfor %}],
                    borderColor: 'rgb(0, 102, 153)',
                    borderWidth: 1,
                    fill: false
                },
                {
                    label: 'Switch 2',
                    data: [{% for entry in kitchen_data %}{{ entry.switch2 }},{% endfor %}],
                    borderColor: 'rgb(128, 0, 94)',
                    borderWidth: 1,
                    fill: false
                },
            ]
        };

        var options = {
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'day'
                    }
                },
                y: {
                    beginAtZero: true
                }
            }
        };

        var chart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: options
        });
    });
</script>

  
    
</div>  

<!-- upadate latest entry in card -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var table = document.querySelector('.table');
        var lastRow = table.rows[table.rows.length - 1];
    
        document.querySelector('#latest_bim').textContent = lastRow.cells[1].textContent;
        document.querySelector('#latest_temp').textContent = lastRow.cells[2].textContent;
        document.querySelector('#latest_flame').textContent = lastRow.cells[3].textContent;
        document.querySelector('#latest_strick').textContent = lastRow.cells[4].textContent;
        document.querySelector('#latest_bp').textContent = lastRow.cells[5].textContent;
        document.querySelector('#latest_switch1').textContent = lastRow.cells[6].textContent;
        document.querySelector('#latest_switch2').textContent = lastRow.cells[7].textContent;
    });
    </script>
{% endblock %}
